<!DOCTYPE html>
<html lang="ja"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
  <div layout:fragment="sidebar" class="sidebar" data-color="azure" data-background-color="white">
    <div class="logo">
      <a class="simple-text logo-normal" th:href="@{/home}">
        <img th:src="@{/static/img/kinda.svg}">
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item" th:classappend="${active == 'home'} ? active">
          <a class="nav-link" th:href="@{/home}">
            <i class="material-icons">home</i>
            <p>ホーム</p>
          </a>
        </li>
        <li class="nav-item" th:classappend="${active == 'detail'} ? active">
          <a class="nav-link" th:href="@{/detail}">
            <i class="material-icons">edit</i>
            <p>詳細入力</p>
          </a>
        </li>
        <li class="nav-item" th:classappend="${active == 'schedule'} ? active">
          <a class="nav-link" th:href="@{/schedule}">
            <i class="material-icons">event_note</i>
            <p>スケジュール</p>
          </a>
        </li>
        <li class="nav-item" th:classappend="${active == 'settings'} ? active">
          <a class="nav-link" th:href="@{/settings}">
            <i class="material-icons">settings_applications</i>
            <p>設定</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>