<!DOCTYPE html>
<html lang="ja"
	xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/webjars/font-awesome/5.12.0/css/all.css}">
	<link rel="stylesheet" th:href="@{/static/css/login.css}">
	<link rel="shortcut icon" th:href="@{/static/img/favicon.ico}">
	<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
	<title>KINDA</title>
</head>
<body>
	<div class="container mt-5 mx-auto" style="width: 400px;">
		<div class="my-3">
			<img class="d-block mx-auto" th:src="@{/static/img/kinda.svg}">
		</div>
		<div th:if="${param.error}" class="alert alert-danger alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<span>入力されたIDやパスワードが正しくありません。</span>
		</div>
		<form th:action="@{/dologin}" th:object="${authRequest}">
			<div class="form-group">
				<div class="input-group shadow-sm">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-user"></i> </span>
					</div>
					<input type="text" th:field="*{id}" class="form-control form-control-lg" required>
					<div class="help-block with-errors"></div>
				</div>
			</div>
			<div class="form-group">
				<div class="input-group shadow-sm">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
					</div>
					<input type="password" th:field="*{password}" class="form-control form-control-lg" required>
					<div class="help-block with-errors"></div>
				</div>
			</div>
			<div class="form-group shadow">
				<button type="submit" id="login" class="btn btn-primary btn-block btn-lg mt-3"> ログイン  </button>
			</div>
		</form>
	</div>
</body>
</html>