<!DOCTYPE html>
<html lang="ja"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}"
	th:with="active='home'">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script th:src="@{/static/js/home.js}"></script>
	<link rel="stylesheet" th:href="@{/static/css/home.css}">
</head>
<body>
	<div layout:fragment="content">
		<div id="home" class="card">
			<div class="center">
				<div class="view-today">
					<span>{{ today }}</span>
				</div>
				<div v-if="!this.isSmartPhone">
					<div class="view-clock">
						<img class="w100" :src="hourBefore">
						<img class="w100" :src="hourAfter">
						<img class="w50" :src="colon">
						<img class="w100" :src="minBefore">
						<img class="w100" :src="minAfter">
						<img class="w50" :src="colon">
						<img class="w100" :src="secBefore">
						<img class="w100" :src="secAfter">
						<div class="punch-group">
							<button class="btn btn-success w-25 h-100 fs30" @click="onClickPunchIn()" :disabled="btnPunchIn.disabled">出勤</button>
							<button class="btn btn-success w-25 h-100 fs30" @click="onClickPunchOut()" :disabled="btnPunchOut.disabled">退勤</button></br>
						</div>
					</div>
				</div>
				<div v-if="this.isSmartPhone">
					<div class="view-clock">
						<img class="w30" :src="hourBefore">
						<img class="w30" :src="hourAfter">
						<img class="w15" :src="colon">
						<img class="w30" :src="minBefore">
						<img class="w30" :src="minAfter">
						<img class="w15" :src="colon">
						<img class="w30" :src="secBefore">
						<img class="w30" :src="secAfter">
						<div class="punch-group">
							<button class="btn btn-success w-50 h-50 fs15" @click="onClickPunchIn()" :disabled="btnPunchIn.disabled">出勤</button>
							<button class="btn btn-success w-50 h-50 fs15" @click="onClickPunchOut()" :disabled="btnPunchOut.disabled">退勤</button></br>
						</div>
					</div>
				</div>
			</div>
			</br>
		</div>
		<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/
			const attendanceInfo = /*[[${response}]]*/ null;
			/*]]>*/
		</script>
	</div>
</body>
</html>